.LabeledButton {
	background: transparent;
	color: var(--color-secondary--1);
	border: var(--color-secondary--1) solid 1px;
	transition: 300ms;
	width: 200px;
}

.LabeledButton:hover {
	background: var(--color-accent--3);
	color: var(--color-primary--3);
	border-color: var(--color-primary--3);
	cursor: pointer;
}
