.Home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
		url('../../../res/images/background.jpg') no-repeat center center/cover;
}

.Home__name {
	font-size: 5rem;
	text-align: center;
	margin-bottom: 2rem;
	justify-content: flex-start;
}

.Home__main-content {
	padding: 2em;
	border-radius: 2.5px;
	display: flex;
	flex-direction: column;
}

.Home__options {
	margin: 0 auto;
}
