.Home {
	height: 100vh;
	width: unquote('min(95%, 800px)');
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Home__name {
	font-size: 5rem;
	text-align: center;
	margin-bottom: 2rem;
	justify-content: flex-start;
}

.Home__main-content {
	padding: 2em;
	border-radius: 2.5px;
}
