:root {
	--color-primary--1: hsl(0, 0%, 15%);
	--color-primary--2: hsl(0, 0%, 7.5%);
	--color-primary--3: black;
	--color-secondary--1: white;
	--color-secondary--2: hsl(0, 0%, 75%);
	--color-secondary--3: hsl(0, 0%, 50%);
	--color-accent--1: hsl(0, 100%, 65%);
	--color-accent--2: hsl(0, 100%, 55%);
	--color-accent--3: hsl(0, 100%, 45%);
}
