.Header {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: var(--color-primary--dark);
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Header__nav {
	width: 65%;
}

.Header__nav ul {
	display: flex;
	justify-content: space-between;
	font-size: 1.75rem;
}
