.LabeledInput__label {
	display: block;
}

.LabeledInput__input {
	display: block;
	width: 100%;
	background: var(--color-primary--2);
	color: var(--color-secondary--1);
}

.LabeledInput__textarea {
	resize: none;
	height: 7.5rem;
}

.LabeledInput__input:focus {
	border: var(--color-accent--2) solid 1px;
}
