.LabeledInput__label {
	display: block;
	font-size: 1.15rem;
	color: var(--color-secondary--1);
	margin-bottom: 1em;
}

.LabeledInput__input {
	display: block;
	width: 100%;
	border: none;
	background: var(--color-primary--2);
	color: var(--color-secondary--1);
	padding: 1em;
	border-radius: 2.5px;
}

.LabeledInput__input:focus {
	border: 1px solid var(--color-accent--2);
}
